.row {
	margin:10px 0;
	overflow:hidden;
}
.row .item{
	margin-left:85px;
	margin-bottom:10px;
}
.row label.field{
	display:inline-block;
	float:left;
	margin-top: 8px;
	margin-right:15px;
	text-align: right;
	width:70px;
	font-size:13px;
	vertical-align:middle;
}
.row label.field_content{
	display:inline-block;
	float:left;
	margin-top: 8px;
	margin-left:8px;
	text-align: left;
	width:200px;
	font-size:13px;
	vertical-align:middle;
}
.row .basic-input{
	margin-right:10px;
	font-size:13px;
	border:1px solid #ddd;
	padding: 5px 4px;
}
.hrline{
	height:1px;
	border:0;
	border-top: 1px dotted #dadada;
	margin-top: 8px;
	margin-bottom:18px;
}
.footer{
	margin-top:30px;
}
.loc-btn{
	cursor:pointer;
	padding: 5px 12px;
	border-radius:3px;
	color:#fff;
	background-color:#3dbad1;
	border:1px solid #39b8cf;
	outline:0;
}
.lnk-flat{
	cursor:pointer;
	padding: 5px 12px;
	border-radius:3px;
	color:black;
	border:1px solid #d9d9d9;
	outline:0;
}